name: Docker Build

on:
  push:
    branches: [main]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/messaging_app:latest messaging_app
        docker push ${{ secrets.DOCKER_USERNAME }}/messaging_app:latest
